form {
    max-width: 900px; /* Increased max-width */
    margin: 0 auto;
    background-color: #e7f1fa;
    padding: 20px;
    border-radius: 10px;
}
body {
    height: 100%;
background-color: #8998a1; }

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.col {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
    border-right: 1px solid #ced4da; /* Add soft line */
}
.col:last-child {
    border-right: none; /* Remove border from last column */
}
label {
    display: block;
    margin-bottom: 10px;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
color : white ; 
font-size : 20px;
}
.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
color : white;
}

.card {
    width: 300px;
    margin: 20px 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgb(102, 217, 255);
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.card-body {
    padding: 20px;
}
.card-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.btn {
    width: 100%;
    margin-top: 5px;
    background-color: #37627d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #14262f;
}
.upload-container {
    width: 600px; 
    height: 300px; 
    border: 2px dashed #37627d;
    background-color: #e7f1fa; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px; 
    margin: auto; 
    margin-top: 6vh; 
    padding: 20px; 
}
.upload-container button {
    padding: 10px 20px;
    border-radius: 20px; 
    background-color: #37627d;
    color: #fff; 
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
}
.upload-container button:hover {
    background-color: #14262f; /* Darker orange on hover */
}


.slogan {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    color: #141516; 
}
.previous {
    position: fixed; /* Set position to fixed */
    bottom: 20px; /* Set distance from bottom */
    left: 20px; /* Set distance from left */
    background-color: #37627d; /* Orange background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for button */
    border: none; /* Remove border */
    border-radius: 20px; /* Add border radius */
    text-decoration: none; /* Remove underline */
}

.previous:hover {
    background-color:  #14262f; /* Darker orange on hover */
}

a:hover {
    color: #6e7172;text-decoration: none;
}


.arrow {
    font-size: 50px;
    font-weight: bold;
    color: #000;
}

.title-banner {
    background: linear-gradient(to right, #49729e, #5b5c5e); /* Blue to orange gradient for the banner */
    color: white;
    text-align: center;
    padding: 20px; /* Increase padding to make the banner bigger */
    font-size: 30px; /* Set font size */
    font-weight: bold; /* Set font weight */
}
.container-comparison {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-comparison {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}

.image-container {
    max-width: 45%;
}

.image-container img {
    max-width: 100%;
    border: 2px dashed #37627d;;
    padding: 10px;
    border-radius: 10px;
    text-align: center; /* Center the image */
    margin: 0 auto; /* Center the image horizontally */
    max-width: 50%; /* Limit the maximum width of the image to 100% */
    display: block; /* Make the image a block element to center it */
    margin-top: 20px; /* Add margin-top to create space between the title and the image */
}